{{model.title}}

<div class="section-wrapper">
  <div class="section-content" style={{positionClass}}>
    {{#each model.sections as |section|}}
      <p>
        {{section.content}}
      </p>
    {{/each}}
  </div>
  <div class="overlay"></div>
</div>
<button {{action "next"}}>Go</button>
