<ul>
{{#each model as |book|}}
  <li>
    {{book.title}}
    <ol>
      {{#each book.chapters as |chapter|}}
        <li>chapter.title</li>

        <ul>
          {{#each chapter.sections as |section|}}
            <li>{{section.content}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </ol>
  </li>
{{/each}}
</ul>
